body {
	background: antiquewhite; 
	margin: 15px; 
	padding: .5%; 
	border-radius: 13px;
}


/* The Modal (background) */
.modal {
	font-family: Verdana;
    position: inherit;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 10px;
}


/* Modal Content/Box */
.modal-content {
    background-color:cornflowerblue;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 40%; /* Could be more or less, depending on screen size */
    padding-left: 10%;
}

.submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
}

label, input { 
	display:block; 
	margin-bottom:12px; 
	width:95%; 
  padding: .4em; 
  margin-left: 5%;
}