<!DOCTYPE html>
<html>
<body>
    <h1>Price of mail</h1> 
    <p>Type of Mail: <%= mailtype %></p> 
    <p>Weight of Mail: <%= weight %></p> 

    <p>Price: $<%= data %></p> 
    <p><%= message %></p>
</body>
</html>